.app {
  font-family: "DM Sans", sans-serif;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 50px;
}

.logo {
  height: 50px;
  margin-bottom: 20px;
}

.media-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 130px;
  margin-top: 25px;
}
.media-section .image {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  transform: scale(1);
  cursor: pointer;
}
.media-section .video {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.media-section .divInfo {
  display: flex;
  align-items: baseline;
  color: #901c1c;
  width: 350px;
}
.media-section .divInfo .titre-image {
  flex: 2;
}
.media-section .divInfo .button-like {
  display: flex;
  justify-content: end;
  align-items: baseline;
  flex: 1;
  border: none;
  background-color: #fff;
  font-family: "DM Sans", "Courier New", Courier, monospace;
  color: #901c1c;
  cursor: pointer;
}
.media-section .divInfo .divlike {
  display: flex;
  align-items: baseline;
  cursor: pointer;
}
.media-section .divInfo .divlike .nombres-de-likes {
  padding-right: 5px;
}

.contentImg {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  background: #C4C4C4;
}

.img-photographer {
  height: 200px;
  width: 200px;
  transform: scale(1.3);
}
.img-photographer:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.53);
}

.name-photographer {
  color: #D3573C;
  font-size: 50px;
  margin: 0px;
}

.taglineBis {
  font-size: 18px;
  margin: 0px;
}

.locationBis {
  color: #901c1c;
  font-size: 24px;
  margin-bottom: 0px;
}

#contact__modal {
  display: none;
  background-color: rgba(128, 128, 128, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}
#contact__modal .modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #DB8876;
  flex-direction: column;
  padding: 35px;
  margin: auto;
  position: fixed;
  margin-top: 1%;
  margin-left: 35%;
  height: 600px;
}
#contact__modal .modal .modal-form {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
#contact__modal .modal .modal-form .text {
  display: flex;
  flex-direction: column-reverse;
}
#contact__modal .modal .modal-form img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
#contact__modal .modal .modal-form .modal-title {
  color: #000;
  font-size: 30px;
  font-weight: normal;
  margin: 0px;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312E2E;
  font-size: 20px;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}
form input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  margin: 0px;
}
form .text-control-message {
  height: 90px;
}
form #formDataCheckbox {
  flex-direction: row;
  margin-top: 15px;
}
form #formDataCheckbox .checkbox-input {
  padding: 8px;
  margin-right: 9px;
  border: 0.8px solid #ccc;
  outline: none;
  width: 4%;
}
form #formDataCheckbox .checkbox-label {
  font-size: 20px;
}
form #formDataCheckbox #errorMessageCheckbox {
  font-size: 15px;
}
form .message {
  margin: 0px;
}
form .message .text-control-message {
  height: 60px;
}

.photograph__header {
  background-color: #FAFAFA;
  height: 300px;
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact_button {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 11px;
  width: 170px;
  height: 45px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

#btn-signup {
  height: 70px;
}

.bas-de-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #DB8876;
  width: 376px;
  border-radius: 5px;
  height: 69px;
  z-index: 1;
  position: fixed;
  bottom: 0px;
  right: 18px;
}
.bas-de-page .containeur-like-total {
  display: flex;
  align-items: center;
}
.bas-de-page .containeur-like-total .likes-total {
  margin: 0;
  font-size: 24px;
}
.bas-de-page .containeur-like-total .fa-heart {
  transform: scale(1.5);
  margin-left: 10px;
}
.bas-de-page .price-bas-de-page {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

.filtre {
  display: flex;
  align-items: baseline;
}
.filtre .filtre-title {
  margin-right: 10px;
}

.menu {
  position: relative;
  width: 120px;
  z-index: 1;
}
.menu .menu__arrow {
  position: absolute;
  height: 30px;
  right: 10px;
  top: 0;
  display: flex;
  align-items: center;
}
.menu .menu__list {
  position: relative;
  height: 30px;
  overflow: hidden;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
.menu .menu__list .menu__list-item {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative;
}
.menu .menu__list .menu__list-item:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.menu .menu__list .menu__list-item:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.lightbox {
  display: none;
  position: fixed;
  background-color: #fff;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.lightbox #lightbox__close {
  display: flex;
  justify-content: end;
  padding-right: 20px;
  cursor: pointer;
}
.lightbox #lightbox__close::before {
  transform: scale(1.5);
  padding-top: 10px;
}
.lightbox .lightbox__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.lightbox .lightbox__container .lightbox__prev {
  cursor: pointer;
  padding-left: 20px;
  transform: scale(1.5);
}
.lightbox .lightbox__container .lightbox__next {
  cursor: pointer;
  padding-right: 20px;
  transform: scale(1.5);
}

.image-lightbox {
  width: 327px;
  transform: scale(2);
}
.image-lightbox:hover {
  box-shadow: none;
}/*# sourceMappingURL=photographer.css.map */