//mixin
@mixin flex($justify-content, $align-items) {
    display:flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin text($color, $font-size){
    color: $color;
    font-size: $font-size;
}

//variables
$primary-color: #901c1c;
$secondary-color: #D3573C;

.app {
    font-family: "DM Sans", sans-serif;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
}

.logo {
    height: 50px;
    margin-bottom: 20px;
}

.media-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 130px;;
    margin-top: 25px;

    .image{
        width: 350px;
        height: 300px;
        border-radius: 5px;
        transform: scale(1);
        cursor: pointer;
    }
    
    .video {
        width: 350px;
        height: 300px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
    }

    .divInfo{
        display: flex;
        align-items: baseline;
        color: $primary-color;
        width: 350px;
    
        .titre-image{
            flex: 2;
        }
    
        .button-like{
            @include flex(end, baseline);
            flex: 1;
            border: none;
            background-color: #fff;
            font-family: "DM Sans","Courier New",Courier,monospace;
            color: $primary-color;
            cursor: pointer;
        }

        .divlike{
            display: flex;
            align-items: baseline;
            cursor: pointer;

            .nombres-de-likes{
                padding-right: 5px;
            }
        }
    }
}

.contentImg{
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    background: #C4C4C4;
}

.img-photographer {
    height: 200px;
    width: 200px;
    transform: scale(1.3);
    
    &:hover {
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.53);
    }
}

.name-photographer{
    @include text($secondary-color, 50px);
    margin: 0px;
}

.taglineBis{
    font-size: 18px;
    margin: 0px;
}

.locationBis{
    @include text($primary-color, 24px);
    margin-bottom: 0px;
}

// css pour le formulaire
#contact__modal {
    display: none;
    background-color: rgba(128, 128, 128, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;

    .modal {
        @include flex(space-between, center);
        border-radius: 5px;
        background-color: #DB8876;
        flex-direction: column;
        padding: 35px;
        margin: auto;
        position: fixed;
        margin-top: 1%;
        margin-left: 30%;
    
        .modal-form {
            @include flex(space-between, baseline);
            width: 100%;
    
            .text{
                display: flex;
                flex-direction: column-reverse;
            }
    
            img {
                cursor: pointer;
                width: 30px;
                height: 30px;
            }
    
            .modal-title {
                @include text(#000, 30px);
                font-weight: normal;
                margin: 0px;
            }
        }
    }
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

    label {
        @include text(#312E2E, 20px);
    }

    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: self-start;
    }

    input {
        width: 100%;
        height: 30px;
        border: none;
        border-radius: 5px;
        margin-bottom: 15px;
        margin: 0px;
    }

    #formDataCheckbox{
        flex-direction: row;
        margin-top: 15px;

        .checkbox-input {
            padding: 8px;
            margin-right: 9px;
            border: 0.8px solid #ccc;
            outline: none;
            width: 4%;
        }

        .checkbox-label {
            font-size: 20px;
        }

        #errorMessageCheckbox{
            font-size: 15px;
        }  
    }

    .message{
        margin: 0px;

        .text-control-message{
            height: 60px;
        }
    }
}  

.photograph__header {
    background-color: #FAFAFA;
    height: 300px;
    padding: 0px 50px;
    @include flex(space-between, center);
}

.contact_button {
    @include text(white, 20px);
    font-weight: bold;
    padding: 11px;
    width: 170px;
    height: 45px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    }
}

#btn-signup{
    height: 70px;
}

// css pour affiche bas de page
.bas-de-page{
    @include flex(space-around, center);
    background-color: #DB8876;
    width: 376px;
    border-radius: 5px;
    height: 69px;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    right: 18px;

    .containeur-like-total{
        display: flex;
        align-items: center;

        .likes-total{
            margin: 0;
            font-size: 24px;
        }

        .fa-heart{
            transform: scale(1.5);
            margin-left: 10px;
        }
    }

    .price-bas-de-page{
        margin: 0;
        font-size: 24px;
        font-weight: 500;
    }
}

// css pour le menu de filtre
.filtre{
    display: flex;
    align-items: baseline;

    .filtre-title{
        margin-right: 10px;

    }
}

.menu{
    position: relative;
    width: 120px;
    z-index: 1;

    .menu__arrow{
        position: absolute;
        height: 30px;
        right: 10px;
        top: 0;
        display: flex;
        align-items: center;
    }

    .menu__list{
        position: relative;
        height: 30px;
        overflow: hidden;
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        cursor: pointer;

        .menu__list-item{
            height: 30px;
            display: flex;
            align-items: center;
            padding: 0 10px;
            position: relative;

            &:first-child {
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
            }

            &:last-child{
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }
    }
}

// css pour la lightbox
.lightbox{
    display: none;
    position: fixed;
    background-color: #fff;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;

    #lightbox__close{
        display: flex;
        justify-content: end;
        padding-right: 20px;
        cursor: pointer;
    
        &::before{
            transform: scale(1.5);
            padding-top: 10px;
        }
    }

    .lightbox__container {
        @include flex(space-between, center);
        min-height: 100vh;

        .lightbox__prev{
            cursor: pointer;
            padding-left: 20px;
            transform: scale(1.5);
        }

        .lightbox__next{
            cursor: pointer;
            padding-right: 20px;
            transform: scale(1.5);
        }
        
    }
}

.image-lightbox{
    width: 327px;
    transform: scale(2);

    &:hover{
        box-shadow: none;
    }
}