//variables
$primary-color: #901c1c;
$secondary-color: #D3573C;
$tertiary-color: #757575;

//mixin
@mixin flex($justify-content, $align-items) {
    display:flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin text($color, $font-weight, $font-size){
    margin: 0px;
    color: $color;
    font-weight: $font-weight;
    font-size: $font-size;
}

//css

.app {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

#header {
    @include flex(space-between, center);
    flex-direction: row;
    height: 90px;
    margin-top: -118px;
}

#main{
    margin-top: -28px;
}

.title {
    color: $primary-color;
    margin-right: 100px;
}

.logo-accueil {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.portrait{
    @include flex(center, center);
    justify-self: center;
    flex-direction: column;
}

.contentImg{
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    background: #C4C4C4;

    &:hover{
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
    }
}

.img-photographer {
    height: 200px;
    width: 200px;
    transform: scale(1.3);
    cursor: pointer;
}

h2 {
    @include text($secondary-color, 400, 36px);
    margin-top: 20px;
}

.location{
    @include text($primary-color, 500, 13px);
    margin-bottom: 4px;
}

.tagline{
    @include text(#000000, 400, 10px);
}

.price{
    @include text($tertiary-color, 400, 9px)
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    color: $secondary-color;
    position: relative;
    right: -45%;
    top: 225px;
    z-index: 1;
    animation: transparent;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    pointer-events: none;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: $primary-color;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
}
100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
}
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

#main, #header{
    animation: fadein;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-direction: normal; 
    animation-fill-mode: forwards;
}

@keyframes fadein{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes transparent{
    0% {opacity: 1;}
    100% {opacity: 0;}
}